<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ndsp_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.GenreDetailActivity"></activity>
        <activity android:name=".activity.PublisherDetailActivity" />
        <activity android:name=".activity.AuthorDetailActivity" />
        <activity android:name=".activity.ListGenreActivity" />
        <activity android:name=".activity.ListPublisherActivity" />
        <activity android:name=".activity.ListAuthorActivity" />
        <activity android:name=".activity.GenreActivity" />
        <activity android:name=".activity.PublilsherActivity" />
        <activity android:name=".activity.AuthorActivity" />
        <activity android:name=".activity.BookActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>